:root {
    --text: rgb(225, 243, 249);
    --background: rgb(33, 33, 33);
    --primary: rgb(21, 59, 75);
    --secondary: rgb(21, 156, 134);
    --accent: rgb(101, 190, 121);
}

body {
    font-family: Arial, sans-serif;
    color: var(--text);
    background-color: var(--background);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 50%), url('/images/backgrounds/wave-pattern.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header h1 {
    color: var(--text);
}

nav a {
    color: var(--text);
    text-decoration: none;
    margin-left: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--background);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary);
}
.card-container {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    flex-wrap: wrap;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.card {
    position: relative;
    width: calc(33.33% - 20px); /* Adjust the width of each card */
    margin: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    transition: transform 0.5s;
}

.card:hover img {
    transform: scale(1.1); /* Just a simple hover effect */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--primary), rgba(50, 188, 181, 0.581)); /* Adjust colors as needed */
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay h2{
    margin: 0;
    color: var(--text); /* Text color */
    font-family: 'Kosugi';
    font-weight: 400;
}
.overlay p {
    margin: 20;
    color: var(--text); /* Text color */
    font-family: 'Kosugi';
    font-weight: 400;
}
